<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
    <ul class="carousel-indicators">
    {% for post in site.posts | limit: 4 %}
        {%- if forloop.index == 1 -%}
        <li data-target="#demo" data-slide-to="{{forloop.index}}" class="active"></li>
        {%- else -%}
        <li data-target="#demo" data-slide-to="{{forloop.index}}"></li>
        {%- endif -%}
    {% endfor %}
    </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

    {% for post in site.posts | limit: 4 %}
    <!-- Seleccionar la primera imagen -->

    {% assign foundImage = 0 %}
    {% assign images = post.content | split:"<img " %}
    {% assign index = forloop.index %}

    {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                
                {%- if index == 1 -%}
                    <div class="carousel-item active">    
                {%- else -%}
                    <div class="carousel-item"> 
                {%- endif -%}
                    <a class="carousel-link " href="{{ site.baseurl }}{{ post.url }}">
                        <img class="fondo" {{ html }} />
                    
                    <div class="absoluto carousel-titulo">    
                      <div>
                      {% for category in post.categories | limit: 2 %}
                        <h5>
                          <a href="#"># {{ category }}</a>
                        </h5>
                      {% endfor %}
                      </div>
                      <h3>{{ post.title }}</h3>
                    </div>
                    </a>

                </div>
                {% assign foundImage = 1 %}
            {% endif %}

        {% endif %}
        {% endfor %}
    <!-- ***** -->
    {% endfor %}

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

