{% if site.footer-links.dribbble %}
    <div class="icono">
        <a href="https://dribbble.com/{{ site.footer-links.dribbble }}">
            <i class="svg-icon dribbble"></i>
        </a>
    </div>
{% endif %}
{% if site.footer-links.email %}
    <div class="icono">
    <a href="mailto:{{ site.footer-links.email }}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    </div>
{% endif %}
{% if site.footer-links.facebook %}
<div class="icono">
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.flickr %}
<div class="icono">
<a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <i class="svg-icon flickr"></i>
</a>
</div>{% endif %}
{% if site.footer-links.github %}
<div class="icono">
<a href="https://github.com/{{ site.footer-links.github }}">
    <i class="fa fa-github" aria-hidden="true"></i>
</a>
</div>
{% endif %}
{% if site.footer-links.instagram %}
<div class="icono">
<a href="https://instagram.com/{{ site.footer-links.instagram }}">
    <i class="fa fa-instagram" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.linkedin %}
<div class="icono">
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.pinterest %}
<div class="icono">
<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
    <i class="fa fa-pinterest" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.rss %}
<div class="icono">
<a href="{{ site.baseurl }}/feed.xml">
    <i class="fa fa-rss" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.twitter %}
<div class="icono">
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <i class="fa fa-twitter" aria-hidden="true"></i>
</a>
</div>
{% endif %}
{% if site.footer-links.stackoverflow %}
<div class="icono">
<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
</a>
</div>{% endif %}
{% if site.footer-links.youtube %}
<div class="icono">
<a href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
</a>
</div>
{% endif %}
{% if site.footer-links.googleplus %}
<div class="icono">
    <a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
    <i class="svg-icon googleplus"></i>
</a>
</div>
{% endif %}