
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: rgba(0, 0, 0, 0.9);
$darkerGray: rgba(41, 41, 41, 1);
$darkGray: #383737;
$gray: #757575;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: fell, Georgia, Cambria, "Times New Roman", Times, serif;;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}